packages:
  yum:
    newrelic-php5: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm

files:
    "/tmp/15_newrelic_app_name.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
          #!/bin/bash
          set -xe

          INSTANCE_ID=$(/opt/aws/bin/ec2-metadata -i|/bin/sed 's/instance-id: i-//g')
          echo newrelic.appname="$INSTANCE_ID" >> /etc/php-5.6.d/newrelic.ini

commands:
  configure_new_relic:
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: key
  set_app_name:
    command: '/tmp/15_newrelic_app_name.sh'