packages:
  yum:
    htop: []
#services:
#  sysvinit:
#    memcached:
#      enabled: true
#      ensureRunning: true
commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: default
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_update2_conf.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         set -xe

         EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config  container -k app_user)
         EB_APP_BASE_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_base_dir)
         EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)
         EB_APP_LOGS_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_logs_dir)

         cd $EB_APP_STAGING_DIR
         chown -R webapp var
         chmod -R 777 var
         bin/console cache-fill